.soda-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
}

.soda-gif img {
  max-width: 100%;
  max-height: 100%;
}

.soda-title {
  align-self: flex-start;
  color: rgb(54, 37, 163);
}
